
  .product-image {
    width: 200px; 
    height: 200px;
    object-fit: contain;
  }
  .custom-card{
    width: 250px;
    height: 250px
  }
  @media screen and (max-width:600px) {
    .product-image{
      width: 100%;
    }
    .custom-card{
      width: 100%;

    }
  }